.profile {
  width: 100%;
}
.profile-container {
  display: flex;
  margin-top: 2rem;
  margin-left: 2rem;
}
.profile-righth-side {
  width: 75%;
  padding: 5px;
}
.profile-righth-side-container {
  width: 100%;
}
.change-password-input {
  margin: 5px;
}
.profile-left-side {
  display: flex;
  width: 20%;
}
