.profile {
  width: 100%;
}
.profile-container {
  display: flex;
}
.profile-righth-side {
  width: 75%;
  padding: 10px;
}
.profile-righth-side-container {
  width: 100%;
}
.change-password-input {
  margin: 5px;
}
.profile-left-side {
  display: flex;
  width: 20%;
  padding: 10px;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  height: 100%;
}
.profile-change-password {
  color: #108a00;
}
.profile-change-password:hover {
  cursor: pointer;
  color: #449a27;
}
